@import url("https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
    background-color: #afc4c0;
}

.btn,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

p {
    font-family: "Rasa", serif;
    margin: 0;
}
a {
    text-decoration: none;
}

.rm {
    margin: 0;
}

.text-primary {
    color: #5a5959 !important;
}

/* search */
.search-bar {
    width: 40%;
}

/* content */
.row-relative {
    position: relative;
}

.content-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    height: 200px;
    width: 300px;
}

.img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 128px;
}

/* footer */
.line {
    height: 5px;
    width: 100%;
    margin: 3rem 0rem 2rem 0rem;
    border-radius: 6px;
    background: #dadada;
}

.form-control {
    background-color: #d7d7d7;
    color: #9c9494;
}

.logo-medsos {
    padding: 0px 20px;
}

/* item page */
/* box content */
.box-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    height: 320px;
    width: 300px;
    margin: 0rem 2rem;
}

.content-header {
    text-align: left;
}
.text-price {
    font-weight: bold;
    font-size: 28px;
    padding: 20px;
}

.btn-secondary {
    background-color: #aeaeae;
    border-color: #e4e4e4;
    border-radius: 6px;
    padding: 10px 20px;
}
.btn-dark {
    color: #bfbfbf;
    font-size: 24px;
    border-radius: 6px;
    padding: 10px 30px;
}

/* selected-item */
.box-display {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    height: 300px;
    width: 300px;
    margin: 0rem 2rem;
}
.box-display-2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    height: 130px;
    width: 130px;
    margin: 0rem 2rem;
}

.img-2 {
    height: 48px;
}

.list-group {
    padding: 0px 20px;
}

.list-group-item {
    background-color: inherit;
    border: none;
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
    color: #fff;
}

.inline-group {
    max-width: 9rem;
    padding: 0.5rem;
}

.inline-group .form-control {
    text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-secondary-2 {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
    color: #8a8a8a;
}

/* LOGIN */
.box-login {
    background-color: #f5f3f3;
    padding: 30px;
    border-radius: 12px;
    text-align: justify;
    width: 550px;
    height: 500px;
}

.box-register {
    width: 100%;
    height: 100%;
}

.form-control {
    padding: 0.8rem 0.75rem;
}

.btn-register {
    font-size: 18px;
    padding: 1.125rem;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    color: #fff !important;
}
